.imageContainer{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

@media only screen and (max-width: 780px){
    .imageContainer{
        flex-direction: column;
    }
    .oneImage{
        max-width: 90%;
    }
    .oneImage img{
        max-width: 100%;
    }
}
.oneImage{
    padding: 5px;
    background-color: var(--component-darkgrey);
    border-radius: 5px;
    padding-bottom: 0px;
    transition: 0.3s;
}

.oneImage:hover{
    transform:translate(0, -5px);
}