
.intro h1{
    font-family: "Tomorrow";
    font-weight: 300;
    overflow: hidden;
    font-size: 143%;
    width: 0%;
    border-right: .15em solid var(--accent-3);
    white-space: nowrap;
    margin: 0 auto;
    margin-top: 10vh;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end) 3s forwards, blink .75s infinite;
}

@media only screen and (max-width: 780px) {
    .intro h1{
        width: 60%;
        font-size: 100%;
        white-space: pre-wrap;
        animation: none;
        border-right: .15em solid var(--accent-3);
    }
}

@keyframes typing {
    from {width: 1%;}
    to {width: 30%;}
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: var(--accent-3); }
  }

.sectionTitle{
    text-align: center;
    font-family: 'Tomorrow';
    font-weight: 300;
    color: var(--accent-3);
}

.info{
    text-align: center;
    font-family: 'Tomorrow';
    font-weight: 300;
    color: var(--light-grey);
}